<script lang="ts">
	import MoviePreview from '$lib/components/MoviePreview.svelte';
	import { EditMode } from '$lib/enum';
	import type { PageData } from './$types';

	export let data: PageData;

	let movies: App.Movies.Movie[];

	$: if (data) updateBooks();

	function updateBooks() {
		movies = data.movies as App.Movies.Movie[];
	}
</script>

<div class="flex flex-col gap-8">
	{#each movies as movie}
		<a href={`/movie/${movie.id}`}>
			<div class="card p-4">
				<MoviePreview {movie} mode={EditMode.VIEW} />
			</div>
		</a>
	{/each}
</div>
