<script lang="ts">
	import { goto } from '$app/navigation';
	import Movie from '$lib/components/Movie.svelte';
	import { EditMode } from '$lib/enum';
	import { MovieController } from '$lib/requests';
	import { getModalStore, type ModalSettings } from '@skeletonlabs/skeleton';
	import type { PageData } from './$types';

	export let data: PageData;

	let movie: App.Movies.Movie;

	$: if (data) updateMovie();

	function updateMovie() {
		movie = data.movie as App.Movies.Movie;
	}

	async function update() {
		movie = await MovieController.updateMovie(movie);
		mode = EditMode.VIEW;
	}

	let mode: EditMode = EditMode.VIEW;

	async function deleteMovie() {
		await MovieController.deleteMovie(movie.id);
		goto('/gallery/movies/');
	}

	async function cancelEditing() {
		mode = EditMode.VIEW;
		goto(`/movie/${movie.id}`, { invalidateAll: true });
	}

	const modalStore = getModalStore();
	const deleteModal: ModalSettings = {
		type: 'confirm',
		// Data
		title: 'Please Confirm',
		body: 'Are you sure you want to delete this movie?',
		// TRUE if confirm pressed, FALSE if cancel pressed
		response: (r: boolean) => {
			if (r === true) deleteMovie();
		}
	};

	const cancelModal: ModalSettings = {
		type: 'confirm',
		// Data
		title: 'Please Confirm',
		body: 'Are you sure you wish to cancel editing?\nAll changes will be lost.',
		// TRUE if confirm pressed, FALSE if cancel pressed
		response: (r: boolean) => {
			if (r === true) cancelEditing();
		}
	};
</script>

<Movie bind:movie {mode} />

<div class="flex">
	{#if mode === EditMode.VIEW}
		<button class="btn variant-filled-primary" on:click={() => (mode = EditMode.EDIT)}>Edit</button>
	{:else if mode === EditMode.EDIT}
		<button class="btn variant-filled-primary" on:click={update}>Save</button>
		<button class="btn variant-filled-primary" on:click={() => modalStore.trigger(cancelModal)}>
			Cancel
		</button>
		<button class="btn variant-filled-error" on:click={() => modalStore.trigger(deleteModal)}>
			Delete
		</button>
	{/if}
</div>
