<script lang="ts">
	import { countProperties } from '$lib/util';

	export let result: App.Books.Book;
</script>

<div class="table-container">
	<!-- Native Table Element -->
	<table class="table">
		<tbody>
			<tr>
				<td style="width:30%">Title</td>
				<td style="width:70%">{result.title || ''}</td>
			</tr>
			<tr>
				<td style="width:30%">Subtitle</td>
				<td style="width:70%">{result.subtitle || ''}</td>
			</tr>
			<tr>
				<td style="width:30%">Authors</td>
				<td style="width:70%">{result.volumeInfo?.authors?.join(', ') || ''}</td>
			</tr>
			<tr>
				<td style="width:30%">Publisher</td>
				<td style="width:70%">{result.volumeInfo?.publisher || ''}</td>
			</tr>
			<tr>
				<td style="width:30%">Language</td>
				<td style="width:70%">{result.volumeInfo?.language || ''}</td>
			</tr>
			<tr>
				<td style="width:30%">Page Count</td>
				<td style="width:70%">{result.volumeInfo?.pageCount || ''}</td>
			</tr>
			<tr>
				<td style="width:30%">Categories</td>
				<td style="width:70%">{result.volumeInfo?.categories?.join(', ') || ''}</td>
			</tr>
			<tr>
				<td style="width:30%">Units of Information</td>
				<td style="width:70%">{countProperties(result)}</td>
			</tr>
		</tbody>
	</table>
</div>

<div>
	{#if result.description}
		<textarea rows="5" class="textarea" readonly>{result.description}</textarea>
	{/if}
</div>
