<script lang="ts">
	import { goto } from '$app/navigation';
	import Hightlights from '$lib/components/addBook/Highlights.svelte';
	import TreeView from '$lib/components/treeview/Treeviews.svelte';
	import { StorageHandler } from '$lib/util';

	export let result: App.Books.Book;

	async function addBook() {
		const storageID = StorageHandler.createObject(result);
		goto(`/add/book/${storageID}`);
	}
</script>

<div class="card p-4">
	<button class="btn variant-filled-primary my-4" on:click={addBook}>
		Add Book to Collection
	</button>
	<div class="flex flex-wrap">
		{#if result.thumbnail}
			<img class="max-w-1/3 w-48 self-start" src={result.thumbnail} alt="book cover" />
		{:else}
			<img
				class="max-w-1/3 w-48 self-start"
				src="/images/no-cover.png"
				alt="no book cover available"
			/>
		{/if}
		<div class="w-2/3 flex flex-col">
			<Hightlights {result} />

			<TreeView data={result} />
		</div>
	</div>
</div>
