<script lang="ts">
	import { createEventDispatcher } from 'svelte';

	let query: App.Books.Query = {
		volumeid: '',
		query: '',
		intitle: '',
		inauthor: '',
		inpublisher: '',
		subject: '',
		isbn: '',
		lccn: '',
		oclc: ''
	};

	const dispatch = createEventDispatcher<{ search: App.Books.Query }>();

	function search() {
		dispatch('search', query);
	}
</script>

<form on:submit={search}>
	<label class="label">
		<span>Google Volume ID</span>
		<input class="input" type="text" placeholder="Volume ID..." bind:value={query.volumeid} />
	</label>

	<label class="label">
		<span>Query</span>
		<input class="input" type="text" placeholder="Query..." bind:value={query.query} />
	</label>

	<label class="label">
		<span>In Title</span>
		<input class="input" type="text" placeholder="In Title..." bind:value={query.intitle} />
	</label>

	<label class="label">
		<span>In Author</span>
		<input class="input" type="text" placeholder="In Author.." bind:value={query.inauthor} />
	</label>

	<label class="label">
		<span>In Publisher</span>
		<input class="input" type="text" placeholder="In Publisher" bind:value={query.inpublisher} />
	</label>

	<label class="label">
		<span>Subject</span>
		<input class="input" type="text" placeholder="Subject..." bind:value={query.subject} />
	</label>

	<label class="label">
		<span>ISBN, International Standard Book Number</span>
		<input class="input" type="text" placeholder="ISBN..." bind:value={query.isbn} />
	</label>

	<label class="label">
		<span>LCCN, Library of Congress Control Number</span>
		<input class="input" type="text" placeholder="LCCN..." bind:value={query.lccn} />
	</label>

	<label class="label">
		<span>OCLC, Online Computer Library Center</span>
		<input class="input" type="text" placeholder="OCLC..." bind:value={query.oclc} />
	</label>

	<button class="btn variant-filled" type="submit">Search with Google Books</button>
</form>
