<script lang="ts">
	import { EditMode } from '$lib/enum';

	export let authors: string[];
	export let mode: EditMode;

	function addAuthor() {
		authors = [...authors, ''];
	}
</script>

{#each authors as author}
	<div class="flex flex-row flex-nowrap">
		<input
			class="input"
			type="text"
			bind:value={author}
			placeholder="Author..."
			readonly={mode === EditMode.VIEW}
		/>
		{#if mode !== EditMode.VIEW}
			<button
				class="btn variant-filled-warning"
				on:click={() => (authors = authors.filter((a) => a !== author))}
			>
				Remove
			</button>
		{/if}
	</div>
{/each}

{#if mode !== EditMode.VIEW}
	<button class="btn variant-filled-primary" on:click={addAuthor}>Add Author</button>
{/if}
