<script lang="ts">
	import { EditMode } from '$lib/enum';

	export let categories: string[];
	export let mode: EditMode;

	function addCategory() {
		categories = [...categories, ''];
	}
</script>

{#each categories as category}
	<div class="flex flex-row flex-nowrap">
		<input
			class="input"
			type="text"
			bind:value={category}
			placeholder="Category..."
			readonly={mode === EditMode.VIEW}
		/>
		{#if mode !== EditMode.VIEW}
			<button
				class="btn variant-filled-warning"
				on:click={() => (categories = categories.filter((a) => a !== category))}
			>
				Remove
			</button>
		{/if}
	</div>
{/each}

{#if mode !== EditMode.VIEW}
	<button class="btn variant-filled-primary" on:click={addCategory}>Add Category</button>
{/if}
