<script lang="ts">
	import { Feedback, EditMode } from '$lib/enum';
	import { RadioGroup, RadioItem } from '@skeletonlabs/skeleton';
	import Rating from './Rating.svelte';

	export let impression: App.Impression = {
		feedback: Feedback.NONE,
		rating: 0,
		review: ''
	};
	export let mode: EditMode;

	let feedback = impression.feedback;
	let rating = impression.rating;
	let review = impression.review;

	$: if (impression) {
		if (feedback !== impression.feedback) {
			impression = { ...impression, feedback };
		}
		if (rating !== impression.rating) {
			impression = { ...impression, rating };
		}
		if (review !== impression.review) {
			impression = { ...impression, review };
		}
	}
</script>

<div class="flex flex-col">
	<RadioGroup disabled={mode === EditMode.VIEW} class="w-fit">
		<RadioItem bind:group={feedback} name="justify" value={Feedback.LIKE}>Like</RadioItem>
		<RadioItem bind:group={feedback} name="justify" value={Feedback.NONE}>None</RadioItem>
		<RadioItem bind:group={feedback} name="justify" value={Feedback.DISLIKE}>Dislike</RadioItem>
	</RadioGroup>

	<Rating bind:rating {mode} />

	<textarea
		class="textarea"
		placeholder="Review..."
		bind:value={review}
		disabled={mode === EditMode.VIEW}
	/>
</div>
