<script lang="ts">
	import { EditMode } from '$lib/enum';

	export let industryIdentifiers: App.Books.IndustryIdentifier[];
	export let mode: EditMode;
</script>

{#each industryIdentifiers as industryIdentifier}
	<div>
		Type
		<input
			class="input"
			type="text"
			bind:value={industryIdentifier.type}
			readonly={mode === EditMode.VIEW}
			placeholder="ISBN_10, ISBN_13, ISSN, etc..."
		/>
		Identifier
		<input
			class="input"
			type="text"
			bind:value={industryIdentifier.identifier}
			readonly={mode === EditMode.VIEW}
			placeholder="Identifier..."
		/>
	</div>
{/each}

{#if mode === EditMode.EDIT}
	<button type="button" on:click={() => industryIdentifiers.push({ type: '', identifier: '' })}>
		Add Industry Identifier
	</button>
{/if}
