<script lang="ts">
	import { EditMode } from '$lib/enum';

	export let nsfw: boolean;
	export let mode: EditMode;
</script>

<div class="w-min p-2">
	<input
		class="checkbox"
		class:variant-filled-error={nsfw === true}
		type="checkbox"
		bind:checked={nsfw}
		disabled={mode === EditMode.VIEW}
	/>
</div>
