<script lang="ts">
	import { EditMode } from '$lib/enum';

	export let publisher: string;
	export let publishedDate: string;
	export let mode: EditMode;
</script>

<div>
	<input
		class="input"
		type="text"
		bind:value={publisher}
		placeholder="Publisher..."
		readonly={mode === EditMode.VIEW}
	/>
	<input
		class="input"
		type="text"
		bind:value={publishedDate}
		placeholder="Published Date"
		readonly={mode === EditMode.VIEW}
	/>
</div>
