<script lang="ts">
	import { EditMode } from '$lib/enum';
	import { Ratings } from '@skeletonlabs/skeleton';

	export let mode: EditMode;
	export let rating: number = 0;

	function iconClick(event: CustomEvent<{ index: number }>): void {
		rating = event.detail.index;
	}
</script>

<div class="flex flex-row flex-nowrap items-center">
	<Ratings bind:value={rating} max={10} interactive={mode !== EditMode.VIEW} on:icon={iconClick}>
		<svelte:fragment slot="empty"><p class="text-4xl">⬦</p></svelte:fragment>
		<svelte:fragment slot="half"><p class="text-4xl">⬖</p></svelte:fragment>
		<svelte:fragment slot="full"><p class="text-4xl">⬥</p></svelte:fragment>
	</Ratings>
	{rating}/10
</div>
