<script lang="ts">
	import { EditMode } from '$lib/enum';

	export let source: App.MediaSource;
	export let mode: EditMode;
</script>

<div class="flex flex-col">
	<div>
		<label for="name">Name</label>
		<input
			type="text"
			id="name"
			class="input"
			bind:value={source.name}
			readonly={mode === EditMode.VIEW}
			placeholder="Source Name..."
		/>
	</div>

	<div>
		<label for="url">URL</label>
		<input
			type="text"
			id="url"
			class="input"
			bind:value={source.selfLink}
			readonly={mode === EditMode.VIEW}
			placeholder="Source URL..."
		/>
	</div>

	<div>
		<label for="type">ID</label>
		<input
			type="text"
			id="type"
			class="input"
			bind:value={source.id}
			readonly={mode === EditMode.VIEW}
			placeholder="Source ID..."
		/>
	</div>
</div>
