<script lang="ts">
	import { BookStatus, EditMode } from '$lib/enum';
	import { RadioGroup, RadioItem } from '@skeletonlabs/skeleton';

	export let status: BookStatus;
	export let mode: EditMode;
</script>

<RadioGroup disabled={mode === EditMode.VIEW} class="w-fit">
	<RadioItem bind:group={status} name="justify" value={BookStatus.WANT_TO_READ}
		>Want to read</RadioItem
	>
	<RadioItem bind:group={status} name="justify" value={BookStatus.READING}>Reading</RadioItem>
	<RadioItem bind:group={status} name="justify" value={BookStatus.READ}>Read</RadioItem>
</RadioGroup>
