<script lang="ts">
	import { EditMode } from '$lib/enum';

	export let thumbnail: string;
	export let mode: EditMode;

	let file: File | null = null;

	const handleFileChange = (event: Event) => {
		const target = event.target as HTMLInputElement;
		if (target.files?.length) {
			file = target.files[0];
			thumbnail = URL.createObjectURL(file);
		}
	};
</script>

<img src={thumbnail} alt="Thumbnail" class="w-48" />
{#if mode !== EditMode.VIEW}
	<input class="input" type="file" accept="image/*" on:change={handleFileChange} />
{/if}
