<script lang="ts">
	import { EditMode } from '$lib/enum';

	export let title = '';
	export let subtitle = '';
	export let mode: EditMode;
</script>

<div class="flex flex-col">
	<label class="label">
		<span>Title</span>
		<input
			class="input h3"
			type="text"
			placeholder="Title..."
			bind:value={title}
			readonly={mode === EditMode.VIEW}
		/>
	</label>

	<label class="label">
		<span>Subtitle</span>
		<input
			class="input h4"
			type="text"
			placeholder="Subtitle..."
			bind:value={subtitle}
			readonly={mode === EditMode.VIEW}
		/>
	</label>
</div>
