<script lang="ts">
	export let createdAt: number;
	export let updatedAt: number;
</script>

<div class="flex flex-col">
	<div>
		Created
		{new Date(createdAt).toLocaleString()}
	</div>

	<div>
		Updated
		{new Date(updatedAt).toLocaleString()}
	</div>
</div>
