<script lang="ts">
	import BookPreview from '$lib/components/BookPreview.svelte';
	import { EditMode } from '$lib/enum';
	import type { PageData } from './$types';

	export let data: PageData;

	let books: App.Books.Book[];

	$: if (data) updateBooks();

	function updateBooks() {
		books = data.books as App.Books.Book[];
	}
</script>

<div class="flex flex-col gap-8">
	{#each books as book}
		<a href={`/book/${book.id}`}>
			<div class="card p-4">
				<BookPreview {book} mode={EditMode.VIEW} />
			</div>
		</a>
	{/each}
</div>
