<script lang="ts">
	import Result from '$lib/components/addBook/Result.svelte';
	import Search from '$lib/components/addBook/Search.svelte';
	import { BookController } from '$lib/requests';
	import { getToastStore, type ToastSettings } from '@skeletonlabs/skeleton';
	import type google from 'googleapis';
	import { Book } from '$lib/components/book-details/book';

	const toastStore = getToastStore();

	const t: ToastSettings = {
		message: 'There was an error while searching for books. Please try again later.',
		// Provide any utility or variant background style:
		background: 'variant-filled-error'
	};

	let results: google.books_v1.Schema$Volume[] = [];
	let transformedResult: App.Books.Book[] = [];

	async function search(e: CustomEvent<App.Books.Query>) {
		try {
			results = await BookController.queryBooks(e.detail);
		} catch (error) {
			toastStore.trigger(t);
		}
		transformedResult = results.map(Book.constructFromGoogleBook);
	}
</script>

<Search on:search={search} />
<div class="mt-6 flex flex-col gap-6">
	{#each transformedResult as result}
		<Result {result} />
	{/each}
</div>
