<script lang="ts">
	import type { EditMode } from '$lib/enum';
	import DetailGroup from './DetailGroup.svelte';
	import Authors from './book-details/Authors.svelte';
	import Categories from './book-details/Categories.svelte';
	import Description from './book-details/Description.svelte';
	import Impression from './book-details/Impression.svelte';
	import IndustryIdentifiers from './book-details/IndustryIdentifiers.svelte';
	import Language from './book-details/Language.svelte';
	import Nsfw from './book-details/Nsfw.svelte';
	import PageCount from './book-details/PageCount.svelte';
	import Publisher from './book-details/Publisher.svelte';
	import Source from './book-details/Source.svelte';
	import Status from './book-details/Status.svelte';
	import Thumbnail from './book-details/Thumbnail.svelte';
	import Title from './book-details/Title.svelte';
	import Updates from './book-details/Updates.svelte';

	export let book: App.Books.Book;
	export let mode: EditMode;
</script>

<div class="grid items-start w-full">
	<DetailGroup groupname="Thumbnail">
		<Thumbnail bind:thumbnail={book.thumbnail} {mode} />
	</DetailGroup>

	<DetailGroup>
		<Title bind:title={book.title} bind:subtitle={book.subtitle} {mode} />
		Description
		<Description bind:description={book.description} {mode} />
	</DetailGroup>

	<DetailGroup groupname="">
		<Impression bind:impression={book.userInfo} {mode} />
	</DetailGroup>

	<DetailGroup groupname="Authors">
		<Authors bind:authors={book.volumeInfo.authors} {mode} />
	</DetailGroup>

	<DetailGroup>
		<Status bind:status={book.status} {mode} />
	</DetailGroup>

	<DetailGroup>
		<DetailGroup groupname="Language">
			<Language bind:language={book.volumeInfo.language} {mode} />
		</DetailGroup>

		<DetailGroup groupname="Page Count">
			<PageCount bind:pageCount={book.volumeInfo.pageCount} {mode} />
		</DetailGroup>

		<DetailGroup groupname="Industry Identifiers">
			<IndustryIdentifiers bind:industryIdentifiers={book.volumeInfo.industryIdentifiers} {mode} />
		</DetailGroup>

		<DetailGroup groupname="Publisher">
			<Publisher
				bind:publisher={book.volumeInfo.publisher}
				bind:publishedDate={book.volumeInfo.publishedDate}
				{mode}
			/>
		</DetailGroup>
	</DetailGroup>

	<DetailGroup>
		<DetailGroup groupname="Categories">
			<Categories bind:categories={book.volumeInfo.categories} {mode} />
		</DetailGroup>
		<DetailGroup groupname="NSFW">
			<Nsfw bind:nsfw={book.nsfw} {mode} />
		</DetailGroup>
	</DetailGroup>

	<DetailGroup groupname="Source">
		<Source bind:source={book.source} {mode} />
	</DetailGroup>

	<DetailGroup groupname="Changelog">
		<Updates bind:createdAt={book.createdAt} bind:updatedAt={book.updatedAt} />
	</DetailGroup>
</div>
