<script lang="ts">
	import type { EditMode } from '$lib/enum';
	import Thumbnail from './book-details/Thumbnail.svelte';

	export let book: App.Books.Book;
	export let mode: EditMode;
</script>

<div class="flex flex-row items-start gap-4">
	<Thumbnail thumbnail={book.thumbnail} {mode} />

	<div class="grid items-start w-full">
		<div class="flex flex-col">
			<strong>{book.title}</strong>
			<span>{book.subtitle}</span>
			<span>by&nbsp;{book.volumeInfo.authors}</span>
		</div>
		<br />
		<span>Categories:&nbsp;{book.volumeInfo.categories}</span>
		<span>Impression:&nbsp;{book.userInfo?.feedback}, {book.userInfo?.rating}/10</span>
		<br />
		<span>Status:&nbsp;{book.status}</span>
	</div>
</div>
