<script lang="ts">
	import type { EditMode } from '$lib/enum';
	import DetailGroup from './DetailGroup.svelte';
	import Categories from './book-details/Categories.svelte';
	import Description from './book-details/Description.svelte';
	import Impression from './book-details/Impression.svelte';
	import Language from './book-details/Language.svelte';
	import Nsfw from './book-details/Nsfw.svelte';
	import Source from './book-details/Source.svelte';
	import Status from './book-details/Status.svelte';
	import Thumbnail from './book-details/Thumbnail.svelte';
	import Title from './book-details/Title.svelte';
	import Updates from './book-details/Updates.svelte';
	import OriginalTitle from './movie-details/OriginalTitle.svelte';
	import ProductionCompanies from './movie-details/ProductionCompanies.svelte';
	import ProductionCountries from './movie-details/ProductionCountries.svelte';
	import ReleaseDate from './movie-details/ReleaseDate.svelte';
	import Runtime from './movie-details/Runtime.svelte';

	export let movie: App.Movies.Movie;
	export let mode: EditMode;
</script>

<div class="grid items-start w-full">
	<DetailGroup groupname="Thumbnail">
		<Thumbnail bind:thumbnail={movie.thumbnail} {mode} />
	</DetailGroup>

	<DetailGroup>
		<Title bind:title={movie.title} bind:subtitle={movie.subtitle} {mode} />
		Description
		<Description bind:description={movie.description} {mode} />
	</DetailGroup>

	<DetailGroup groupname="">
		<Impression bind:impression={movie.userInfo} {mode} />
	</DetailGroup>

	<DetailGroup>
		<Status bind:status={movie.status} {mode} />
	</DetailGroup>

	<DetailGroup>
		<DetailGroup groupname="">
			<OriginalTitle bind:originalTitle={movie.movieInfo.originalTitle} {mode} />
			<Language bind:language={movie.movieInfo.originalLanguage} {mode} />
		</DetailGroup>

		<DetailGroup groupname="Runtime">
			<Runtime bind:runtime={movie.movieInfo.runtime} {mode} />
		</DetailGroup>

		<DetailGroup groupname="Production">
			<ProductionCompanies bind:companies={movie.movieInfo.productionCompanies} {mode} />
			<ProductionCountries bind:countries={movie.movieInfo.productionCountries} {mode} />
		</DetailGroup>

		<DetailGroup groupname="Release Date">
			<ReleaseDate bind:releaseDate={movie.movieInfo.releaseDate} {mode} />
		</DetailGroup>
	</DetailGroup>

	<DetailGroup>
		<DetailGroup groupname="Categories">
			<Categories bind:categories={movie.movieInfo.genres} {mode} />
		</DetailGroup>
		<DetailGroup groupname="NSFW">
			<Nsfw bind:nsfw={movie.nsfw} {mode} />
		</DetailGroup>
	</DetailGroup>

	<DetailGroup groupname="Source">
		<Source bind:source={movie.source} {mode} />
	</DetailGroup>

	<DetailGroup groupname="Changelog">
		<Updates bind:createdAt={movie.createdAt} bind:updatedAt={movie.updatedAt} />
	</DetailGroup>
</div>
