<script lang="ts">
	import type { EditMode } from '$lib/enum';
	import Thumbnail from './book-details/Thumbnail.svelte';

	export let movie: App.Movies.Movie;
	export let mode: EditMode;
</script>

<div class="flex flex-row items-start gap-4">
	<Thumbnail thumbnail={movie.thumbnail} {mode} />

	<div class="grid items-start w-full">
		<div class="flex flex-col">
			<strong>{movie.title}</strong>
		</div>
		<br />
		<span>Impression:&nbsp;{movie.userInfo?.feedback}, {movie.userInfo?.rating}/10</span>
		<br />
		<span>Status:&nbsp;{movie.status}</span>
	</div>
</div>
