<script lang="ts">
	import type { MovieResult } from 'moviedb-promise';

	export let result: MovieResult;
</script>

<div class="table-container">
	<!-- Native Table Element -->
	<table class="table">
		<tbody>
			<tr>
				<td style="width:30%">Title</td>
				<td style="width:70%">{result.title || ''}</td>
			</tr>
			<tr>
				<td>Original Title</td>
				<td>{result.original_title || ''}</td>
			</tr>
			<tr>
				<td>Original Language</td>
				<td>{result.original_language || ''}</td>
			</tr>
			<tr>
				<td>Release Date</td>
				<td>{result.release_date || ''}</td>
			</tr>
			<tr>
				<td>Overview</td>
				<td>{result.overview || ''}</td>
			</tr>
		</tbody>
	</table>
</div>
