<script lang="ts">
	import { goto } from '$app/navigation';
	import Hightlights from '$lib/components/addMovie/Highlights.svelte';
	import type { MovieResult } from 'moviedb-promise';

	export let result: MovieResult;

	async function addMovie() {
		goto(`/add/movie/${result.id}`);
	}
</script>

<div class="card p-4">
	<button class="btn variant-filled-primary my-4" on:click={addMovie}>
		Add Movie to Collection
	</button>
	<div class="flex flex-wrap">
		{#if result.poster_path}
			<img
				class="max-w-1/3 w-48 self-start"
				src={`https://image.tmdb.org/t/p/original/${result.poster_path}`}
				alt="movie thumbnail"
			/>
		{:else}
			<img
				class="max-w-1/3 w-48 self-start"
				src="/images/no-cover.png"
				alt="no movie thumbnail available"
			/>
		{/if}
		<div class="w-2/3 flex flex-col">
			<Hightlights {result} />
		</div>
	</div>
</div>
