<script lang="ts">
	import { createEventDispatcher } from 'svelte';
	import type { SearchMovieRequest } from 'moviedb-promise';

	let query: SearchMovieRequest = {
		query: ''
	};

	let q = '';
	let include_adult = false;
	let region = '';
	let year = 0;
	let primary_release_year = 0;
	let language = '';

	let id: number | string = '';

	const dispatchSearch = createEventDispatcher<{ search: SearchMovieRequest }>();
	const dispatchID = createEventDispatcher<{ find: number | string }>();

	let searchtextError = false;

	function search() {
		if (!q || q === '') {
			searchtextError = true;
			return;
		} else {
			searchtextError = false;
			query.query = q;
			if (include_adult) query.include_adult = include_adult;
			if (region) query.region = region;
			if (year) query.year = year;
			if (primary_release_year) query.primary_release_year = primary_release_year;
			if (language) query.language = language;
			dispatchSearch('search', query);
		}
	}

	function find() {
		dispatchID('find', id);
	}
</script>

<form
	on:submit={() => {
		if (id) {
			find();
		} else {
			search();
		}
	}}
>
	<label class="label">
		<span>TMDB ID</span>
		<input class="input" type="text" placeholder="Movie ID..." bind:value={id} />
	</label>

	<label class="label">
		<span>Search</span>
		<input
			class="input"
			type="text"
			placeholder="Search..."
			bind:value={q}
			class:variant-filled-error={searchtextError}
		/>
	</label>

	<label class="label">
		<span>Include Adult</span>
		<input class="checkbox" type="checkbox" bind:checked={include_adult} />
	</label>

	<label class="label">
		<span>Region</span>
		<input class="input" type="text" placeholder="Region..." bind:value={region} />
	</label>

	<label class="label">
		<span>Year</span>
		<input class="input" type="number" placeholder="Year..." bind:value={year} />
	</label>

	<label class="label">
		<span>Primary Release Year</span>
		<input
			class="input"
			type="number"
			placeholder="Primary Release Year..."
			bind:value={primary_release_year}
		/>
	</label>

	<label class="label">
		<span>Language</span>
		<input class="input" type="text" placeholder="Language..." bind:value={language} />
	</label>

	<button class="btn" type="submit">Search</button>
</form>
