<script lang="ts">
	import '../app.postcss';

	// Floating UI for Popups
	import { computePosition, autoUpdate, flip, shift, offset, arrow } from '@floating-ui/dom';
	import { AppBar, AppShell, Modal, Toast, storePopup } from '@skeletonlabs/skeleton';
	storePopup.set({ computePosition, autoUpdate, flip, shift, offset, arrow });

	import { initializeStores } from '@skeletonlabs/skeleton';

	initializeStores();
</script>

<Modal />
<Toast />

<AppShell>
	<svelte:fragment slot="header">
		<AppBar>
			<a class="btn variant-filled anchor" href="/query/book/">Add Book</a>
			<a class="btn variant-filled anchor" href="/gallery/books/">Browse Books</a>
			<a class="btn variant-filled anchor" href="/query/movie/">Add Movie</a>
			<a class="btn variant-filled anchor" href="/gallery/movies/">Browse Movies</a>
		</AppBar>
	</svelte:fragment>
	<div class="p-10">
		<div class="container h-full mx-auto flex flex-col justify-center items-center w-full">
			<slot />
		</div>
	</div>
</AppShell>
