<script lang="ts">
	import { EditMode } from '$lib/enum';

	export let countries: string[];
	export let mode: EditMode;

	function addCountry() {
		countries = [...countries, ''];
	}
</script>

{#each countries as country}
	<div class="flex flex-row flex-nowrap">
		<input
			class="input"
			type="text"
			bind:value={country}
			placeholder="Category..."
			readonly={mode === EditMode.VIEW}
		/>
		{#if mode !== EditMode.VIEW}
			<button
				class="btn variant-filled-warning"
				on:click={() => (countries = countries.filter((a) => a !== country))}
			>
				Remove
			</button>
		{/if}
	</div>
{/each}

{#if mode !== EditMode.VIEW}
	<button class="btn variant-filled-primary" on:click={addCountry}>Add Country</button>
{/if}
