<script lang="ts">
	import { EditMode } from '$lib/enum';

	export let companies: string[];
	export let mode: EditMode;

	function addCompany() {
		companies = [...companies, ''];
	}
</script>

{#each companies as company}
	<div class="flex flex-row flex-nowrap">
		<input
			class="input"
			type="text"
			bind:value={company}
			placeholder="Category..."
			readonly={mode === EditMode.VIEW}
		/>
		{#if mode !== EditMode.VIEW}
			<button
				class="btn variant-filled-warning"
				on:click={() => (companies = companies.filter((a) => a !== company))}
			>
				Remove
			</button>
		{/if}
	</div>
{/each}

{#if mode !== EditMode.VIEW}
	<button class="btn variant-filled-primary" on:click={addCompany}>Add Company</button>
{/if}
