<script lang="ts">
	import { EditMode } from '$lib/enum';

	export let runtime: number;
	export let mode: EditMode;
</script>

<div class="flex flex-row flex-nowrap">
	<input
		class="input"
		bind:value={runtime}
		placeholder="Runtime"
		readonly={mode === EditMode.VIEW}
	/>
	<div>minutes</div>
</div>
