<script lang="ts">
	import TreeViewObject from './TreeViewObject.svelte';
	import TreeViewString from './TreeViewString.svelte';
	import TreeViewArray from './TreeViewArray.svelte';
	import { TreeViewItem } from '@skeletonlabs/skeleton';

	export let data: Array<any>;
</script>

{#each data as item, i}
	{#if typeof item === 'object'}
		<TreeViewItem>
			{i}.
			<svelte:fragment slot="children">
				<TreeViewObject data={item} />
			</svelte:fragment>
		</TreeViewItem>
	{:else if Array.isArray(item)}
		{i}.
		<TreeViewItem>
			<svelte:fragment slot="children">
				<TreeViewArray data={item} />
			</svelte:fragment>
		</TreeViewItem>
	{:else if item}
		{i}.
		<TreeViewItem>
			{item}
		</TreeViewItem>
	{/if}
{/each}
