<script lang="ts">
	import { TreeViewItem } from '@skeletonlabs/skeleton';
	import TreeViewArray from './TreeViewArray.svelte';
	import TreeViewObject from './TreeViewObject.svelte';

	export let data: object;
</script>

{#each Object.entries(data) as [key, value]}
	{#if typeof value === 'object'}
		<TreeViewItem>
			{key}
			<svelte:fragment slot="children">
				<TreeViewObject data={value} />
			</svelte:fragment>
		</TreeViewItem>
	{:else if Array.isArray(value)}
		{key}
		<TreeViewItem>
			<svelte:fragment slot="children">
				<TreeViewArray data={value} />
			</svelte:fragment>
		</TreeViewItem>
	{:else if value}
		{key}
		<TreeViewItem>
			{value}
		</TreeViewItem>
	{/if}
{/each}
