<script lang="ts">
	import { TreeView, TreeViewItem } from '@skeletonlabs/skeleton';
	import TreeViewArray from './TreeViewArray.svelte';
	import TreeViewObject from './TreeViewObject.svelte';

	export let data: any;
</script>

<TreeView class="variant-ghost-surface" indent="ml-10" hyphenOpacity="opacity-30">
	<TreeViewItem>
		Details
		<svelte:fragment slot="children">
			{#if typeof data === 'object'}
				<TreeViewObject {data} />
			{:else if data.isArray(data)}
				<TreeViewArray {data} />
			{/if}
		</svelte:fragment>
	</TreeViewItem>
</TreeView>
