<script lang="ts">
	import { goto } from '$app/navigation';
	import Book from '$lib/components/Book.svelte';
	import { EditMode } from '$lib/enum';
	import { BookController } from '$lib/requests';
	import { getModalStore, type ModalSettings } from '@skeletonlabs/skeleton';
	import type { PageData } from './$types';

	export let data: PageData;

	let book: App.Books.Book;
	const modalStore = getModalStore();

	$: if (data) updateBook();

	function updateBook() {
		book = data.book as App.Books.Book;
	}

	async function save() {
		const { id } = await BookController.saveBook(book);

		goto(`/book/${id}`);
	}

	const cancelModal: ModalSettings = {
		type: 'confirm',
		// Data
		title: 'Please Confirm',
		body: 'Are you sure you wish to cancel editing?\nAll changes will be lost.',
		// TRUE if confirm pressed, FALSE if cancel pressed
		response: (r: boolean) => {
			if (r === true) goto(`/query/book/`);
		}
	};
</script>

<Book {book} mode={EditMode.CREATE} />
<button class="btn variant-filled-primary" on:click={save}>Save</button>
<button class="btn variant-filled-primary" on:click={() => modalStore.trigger(cancelModal)}>
	Cancel
</button>
