<script lang="ts">
	import { goto } from '$app/navigation';
	import Movie from '$lib/components/Movie.svelte';
	import { EditMode } from '$lib/enum';
	import { MovieController } from '$lib/requests';
	import { getModalStore, type ModalSettings } from '@skeletonlabs/skeleton';
	import type { PageData } from './$types';

	export let data: PageData;

	let movie: App.Movies.Movie;
	const modalStore = getModalStore();

	$: if (data) updateMovie();

	function updateMovie() {
		movie = data.movie as App.Movies.Movie;
		console.log(movie);
	}

	async function save() {
		const { id } = await MovieController.saveMovie(movie);

		goto(`/book/${id}`);
	}

	const cancelModal: ModalSettings = {
		type: 'confirm',
		// Data
		title: 'Please Confirm',
		body: 'Are you sure you wish to cancel editing?\nAll changes will be lost.',
		// TRUE if confirm pressed, FALSE if cancel pressed
		response: (r: boolean) => {
			if (r === true) goto(`/query/book/`);
		}
	};
</script>

<Movie bind:movie mode={EditMode.CREATE} />
<button class="btn variant-filled-primary" on:click={save}>Save</button>
<button class="btn variant-filled-primary" on:click={() => modalStore.trigger(cancelModal)}>
	Cancel
</button>
