<script lang="ts">
	import { goto } from '$app/navigation';
	import Book from '$lib/components/Book.svelte';
	import { EditMode } from '$lib/enum';
	import { BookController } from '$lib/requests';
	import { getModalStore, type ModalSettings } from '@skeletonlabs/skeleton';
	import type { PageData } from './$types';

	export let data: PageData;

	let book: App.Books.Book;

	$: if (data) updateBook();

	function updateBook() {
		book = data.book as App.Books.Book;
	}

	async function update() {
		book = await BookController.updateBook(book);
		mode = EditMode.VIEW;
	}

	let mode: EditMode = EditMode.VIEW;

	async function deleteBook() {
		await BookController.deleteBook(book.id);
		goto('/gallery/books/');
	}

	async function cancelEditing() {
		mode = EditMode.VIEW;
		goto(`/book/${book.id}`, { invalidateAll: true });
	}

	const modalStore = getModalStore();
	const deleteModal: ModalSettings = {
		type: 'confirm',
		// Data
		title: 'Please Confirm',
		body: 'Are you sure you want to delete this book?',
		// TRUE if confirm pressed, FALSE if cancel pressed
		response: (r: boolean) => {
			if (r === true) deleteBook();
		}
	};

	const cancelModal: ModalSettings = {
		type: 'confirm',
		// Data
		title: 'Please Confirm',
		body: 'Are you sure you wish to cancel editing?\nAll changes will be lost.',
		// TRUE if confirm pressed, FALSE if cancel pressed
		response: (r: boolean) => {
			if (r === true) cancelEditing();
		}
	};
</script>

<Book bind:book {mode} />

<div class="flex">
	{#if mode === EditMode.VIEW}
		<button class="btn variant-filled-primary" on:click={() => (mode = EditMode.EDIT)}>Edit</button>
	{:else if mode === EditMode.EDIT}
		<button class="btn variant-filled-primary" on:click={update}>Save</button>
		<button class="btn variant-filled-primary" on:click={() => modalStore.trigger(cancelModal)}>
			Cancel
		</button>
		<button class="btn variant-filled-error" on:click={() => modalStore.trigger(deleteModal)}>
			Delete
		</button>
	{/if}
</div>
