<script lang="ts">
	import Result from '$lib/components/addMovie/Result.svelte';
	import Search from '$lib/components/addMovie/Search.svelte';
	import { MovieController } from '$lib/requests';
	import { getToastStore, type ToastSettings } from '@skeletonlabs/skeleton';
	import type { MovieResultsResponse, SearchMovieRequest } from 'moviedb-promise';
	import { goto } from '$app/navigation';

	const toastStore = getToastStore();

	const t: ToastSettings = {
		message: 'There was an error while searching for books. Please try again later.',
		// Provide any utility or variant background style:
		background: 'variant-filled-error'
	};

	let results: MovieResultsResponse = {
		page: 0,
		results: [],
		total_pages: 0,
		total_results: 0
	};

	async function search(e: CustomEvent<SearchMovieRequest>) {
		try {
			results = await MovieController.queryMovies(e.detail);
		} catch (error) {
			toastStore.trigger(t);
		}
	}

	async function find(e: CustomEvent<number | string>) {
		try {
			let movie = (await MovieController.queryMovie(e.detail)).basics;
			goto(`/add/movie/${movie.id}`);
		} catch (error) {
			toastStore.trigger(t);
		}
	}
</script>

<Search on:search={search} on:find={find} />
<div class="mt-6 flex flex-col gap-6">
	{#if results.results && results.results.length !== 0}
		{#each results.results as result}
			<Result {result} />
		{/each}
	{:else}
		<p class="text-center">No results found</p>
	{/if}
</div>
